{% load staticfiles i18n %}
<!DOCTYPE HTML>
<html ng-app="shortcake">
  <head>
    {% block meta_tags %}
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% endblock %}
    <title>{% block title %}{% trans "Shortcake" %}{% endblock %}</title>
    {% block javascript %}
      {# TODO: Convert this idiom into a template tag or similar. I'll probably use this a bunch... #}
      {% if settings.DEBUG %}
        <script type="text/javascript" src="{% static "js/angular.js" %}"></script>
      {% else %}
        <script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
      {% endif %}
      <script type="text/javascript">
        var username = "{{ user.username }}";
        var apiKey = "{{ api_key }}";
        var api = {
          url: "{% url "api_dispatch_list" api_name="shortener" resource_name="url" %}"
        };
      </script>
      <script type="text/javascript" src="{% static "js/shortcake.js" %}"></script>
    {% endblock %}
    {% block stylesheets %}
      {% if settings.DEBUG %}
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
      {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
      {% endif %}
    {% endblock %}
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        {% if show_brand %}
          <div class="navbar-header">
            <a class="navbar-brand">{% trans "Shortcake" %}</a>
          </div>
        {% endif %}
        {% block navigation %}
          <p class="navbar-text">Hello!</p>
        {% endblock %}
      </div>
    </header>
    <div id="main" role="main">
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
