{# vim: set ft=htmldjango: #}
{% extends "__base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <p>URL form</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <url-table></url-table>
  </div>
</div>
{% endblock %}
