{% extends "__base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %} &mdash; {{ block.super }}{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <style type="text/css">
    fieldset#control {
      text-align: right;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {% trans "Invalid username or password." %}
        </div>
      {% endif %}
      <form name="login" role="form" method="post">
        <fieldset class="form-group">
          <input class="form-control" type="text" name="username" placeholder="{% trans "Username" %}" />
        </fieldset>
        <fieldset class="form-group">
          <input class="form-control" type="password" name="password" placeholder="{% trans "Password" %}" />
        </fieldset>
        <fieldset class="form-group" id="control">
          <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
        </fieldset>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock %}
