<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <a href="{{ object.file.url }}">
      <img src="{{ object.file.url }}" alt="{{ object.url.description }}" class="img-responsive img-rounded" />
    </a>
  </div>
</div>
