{# vim: set ft=htmldjango: #}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    {% comment %}
      TODO: This check might eventually need to be moved to JavaScript so we can do proper detection
      of the browser.
    {% endcomment %}
    {% if mime_subtype in video_mime_subtypes %}
      <video id="file" class="img-rounded" controls>
        <source src="{{ object.file.url }}" type="{{ object.mimetype }}" />
      </video>
    {% else %}
      {# TODO: Show a generic "unknown file" page. #}
      <p>Unknown video type.</p>
    {% endif %}
  </div>
</div>
{# TODO: Details view with show/hide button. #}
