{# vim: set ft=htmldjango: #}
{% extends "__base.html" %}
{% load i18n %}


{% block title %}{{ object.url.title }} &mdash; {{ hostname }}{% endblock %}


{% block navigation %}
  <p class="navbar-text">{{ basename }}</p>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="{{ object.file.url }}">{% trans "Direct Link" %}</a></li>
  </ul>
{% endblock %}


{% block content %}
  {% if mime_type == "audio" %}
    {% include "uploader/_audio.html" %}
  {% elif mime_type == "image" %}
    {% include "uploader/_image.html" %}
  {% elif mime_type == "video" %}
    {% include "uploader/_video.html" %}
  {% endif %}
{% endblock %}
